
.dropdown-container {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 20px !important;
}

@media (max-width: 900px) {
    .dropdown-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 600px) {
    .dropdown-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media (max-width: 767px) {
    .dropdown-container {
        flex-direction: column;
    }
}

.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
