.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: lightgray;
    max-height: 100%;
}

.card {
    border: solid 1px #6b6b6b;
    background-color: #282c34;
    border-radius: 5px;
    padding: 2rem;
}

.url-card {
    border: solid 1px #282c34;
    background-color: #282c34;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .url-card {
        width: 100%;
    }
}

.button-group {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

h2 {
    margin-top: 2rem;
}

.group {
    position: relative;
    margin: 25px 0;
}

.form-input-label {
    position: absolute;
    left: 5px;
    top: 0px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

input {
    border: solid 1.5px #9e9e9e;
    border-radius: 7px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

input[type='password'] {
    letter-spacing: 0.3em;
}

input:focus, input:valid {
    outline: none;
    border: 1.5px solid #46c6ea;
}

input:focus ~ .form-input-label, input:valid ~ .form-input-label {
    transform: translateY(-50%) scale(0.8);
    background-color: #282c34;
    padding: 0 .2em;
    color: #46c6ea;
}